nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
}

.nav-link{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.top-area{
    background-image: linear-gradient(rgb(221, 218, 224),rgb(235, 235, 235),rgb(244, 244, 245),aliceblue);
    display: flex;
    min-height:3vh;
}

.logo{
    width: 130px;
    height: 50px;
    display: block;
}

