

body {
	background-color: #f6f6f6;
	font-family: 'Poppins', sans-serif;

}


.bottom-background{
	background-color: rgb(241, 241, 241);
    display: flex;
    min-height: 82vh;
}
header{
	background-color: lightblue;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	text-align: center;
	font-weight: 600;
}

.titulo-formulario, .subtitulo-formulario {
	color: steelblue;
	text-align: center;
	
}

.titulo-pequeno {
	font-size: 1.5em;
	margin-top: 1em;
	
}

label {
	margin-top: 1em;
}

.formulario-doacao{
	margin: 0 22%;
}