* {
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #F6F6F6;
}

.avatar-aluno {
	width: 10em;
}

.titulo-homepage {
	font-size: 2em;
	font-weight: bold;
}

.meu-container-cards {
	height: 400px;
	overflow: auto;
}

/*ESTILO FORMULÁRIOS*/

header{
	background-color: lightblue;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	text-align: center;
	font-weight: 600;
}

.titulo-formulario, .subtitulo-formulario {
	color: steelblue;
	text-align: center;
	
}

.titulo-pequeno {
	font-size: 1.5em;
	margin-top: 1em;
	
}

label {
	margin-top: 1em;
}

.formulario-doacao{
	margin: 0 22%;
}