

.titulo-formulario, .subtitulo-formulario {
	color: steelblue;
	text-align: center;
	
}

.titulo-pequeno {
	font-size: 1.5em;
	margin-top: 1em;
	
}

label {
	margin-top: 1em;
}

.formulario-doacao{
	margin: 0 22%;
}
.btn.btn-primary{
	background-color: #F27141;
	border-color: unset;
	color: white;
	margin-top: 3vh;
 	margin-left: auto;

}
.form-login{
	display: grid;
	width: 50%;
	min-width: 250px;
	margin-left: auto;
	margin-right: auto;
}