body {
	background-color: ghostwhite;

}

.moldura {
	background-color: aliceblue;
	width: 97%;
	margin: 1.5em auto;
	border: 2px solid lightblue; 
	border-radius: 10px;
	 -webkit-box-shadow: 1px 1px 25px lightgray;
    box-shadow: 1px 1px 25px lightgray;

}

header{
	background-color: lightblue;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	text-align: center;
	font-weight: 600;
}

.titulo-formulario, .subtitulo-formulario {
	color: steelblue;
	text-align: center;
	
}

.titulo-pequeno {
	font-size: 1.5em;
	margin-top: 1em;
	
}

label {
	margin-top: 1em;
}

.formulario-doacao{
	margin: 0 22%;
}

.avatar{
	min-width: 300px;
	display: flex;
	min-height: 30vmin;
	width: 30vmin;
	border-radius: 15px;
}

.col{
	border-radius: 15px;
	position: relative;
	vertical-align: middle;
	margin: auto;
	align-items:flex-end;
}

.card.mb-7{
	border-radius: 15px;
}

.botao-doacao{
	position: relative;
	left: 50%;
	top: 50%;
}

.row{
	padding-bottom: 1vh;
	padding-top: 1vh;
}

.materiais-doados{
	padding-left: 30%;
}

.container{
	margin: 3vh auto;
}