body {
	background-color: ghostwhite;

}

.moldura {
	background-color: aliceblue;
	width: 97%;
	margin: 1.5em auto;
	border: 2px solid lightblue; 
	border-radius: 10px;
	 -webkit-box-shadow: 1px 1px 25px lightgray;
    box-shadow: 1px 1px 25px lightgray;

}
.checkitem{
	margin-right: 1vw;
}
header{
	background-color: lightblue;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	text-align: center;
	font-weight: 600;
}

.titulo-formulario, .subtitulo-formulario {
	color: steelblue;
	text-align: center;
	
}

.titulo-pequeno {
	font-size: 1.5em;
	margin-top: 1em;
	
}

label {
	margin-top: 1em;
}

.formulario-doacao{
	margin: 0 22%;
}

.avatar{
	min-width: 300px;
	display: flex;
	min-height: 30vmin;
	width: 30vmin;
	border-radius: 15px;
}

.col{
	border-radius: 15px;
	position: relative;
	vertical-align: middle;
 	margin-top: auto;
	align-items: middle;
	min-width: 130px;
}

.col.md.cartaoaluno{
	margin-bottom: auto;
}
.card-title.cartaoaluno{
	color: #5503A6;
	margin-top: 1rem;
}
.col.titulo{
	margin-bottom: auto;
}
.container.card{
	border-radius: 15px;
	margin: 2vh 2vw;
	padding: 2%;
	min-width: 80vw;
	font-weight: 350;
	max-width: 96vw;
	text-align: left;
}

.col.img{
	min-width: 130px;
}
.col.botao{
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
}
.botao-doacao{
	position: relative;

	max-width: 118;
}


.row{
	padding-bottom: 1vh;
	padding-top: 1vh;
}

.materiais-doados{
	padding-left: 10%;
}

.container{
	font-family: 'Poppins';
}
