body {
	background-color: ghostwhite;

}

.moldura {
	background-color: aliceblue;
	width: 97%;
	margin: 1.5em auto;
	border: 2px solid lightblue; 
	border-radius: 10px;
	 -webkit-box-shadow: 1px 1px 25px lightgray;
    box-shadow: 1px 1px 25px lightgray;

}

header{
	background-color: lightblue;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	text-align: center;
	font-weight: 600;
}

.titulo-formulario, .subtitulo-formulario {
	color: steelblue;
	text-align: center;
	
}

.titulo-pequeno {
	font-size: 1.5em;
	margin-top: 1em;
	
}

label {
	margin-top: 1em;
}

.formulario-doacao{
	margin: 0 22%;
}

.container.cartaoescola{
	min-width: 300px;
	max-width: 90vw;
	min-height: 30vh;
	background-color: white;
	border-radius: 15px;
	padding: 1rem;
	display: grid;
	flex-wrap: wrap;
	justify-content: space-between;
}
.col.cartaoescola.botao{
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	justify-content: flex-end;
	margin-right: 3vw;
}
.col.cartaoescola.titulo{
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 5vw;
}
.col.img.cartaoescola{
	min-width: 240px;
	min-height: 180px;
	padding: 0px;
}
.col.cartaoescola{
	padding-top: 2vh;
	min-width: 240px;
}